<!DOCTYPE html>
{{Menu}}
<header>
<nav>
<div>Home</div>
<div class="menu">
    <section class="topbar">
  
</section>
</div>
<div>My Dashboard</div>
<div class="menu">
    <section class="topbar">
  
</section>
</div>
<div>My Blog</div>
<div class="menu">
    <section class="topbar">
  
</section>
</div>
<div>Logout</div>
<div class="menu">
    <section class="topbar">
  
</section>
</nav>
</header>

<main class ="">

</main>
</main>
</head>