
{{signup}}
<div>Please log in</div>
<div class="signin">
    <section class="card">
<input class="form-input" type="text" id="signinu" name="username" />
<input class="form-input" type="text" id="signinp" name="password" />

</section>
</div>Sign up
<div class="blog">
    <section class="card">
<input class="form-input" type="text" id="signup" name="username" />
<input class="form-input" type="text" id="signup" name="email" />
<input class="form-input" type="text" id="signup" name="password" />
</section> 
</div>

